includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - config/
        - src/
        - resources/

    # Level 9 is the highest level
    level: 5
